<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Analytics</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item active"><a routerLink="/chart-monthly">Revenue By Month</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card shadow">
            <div class="card-header">
              <h3 class="card-title">
                <i class="fa-light fa-sparkles mr-1"></i>
                Revenue By Month
              </h3>
              <div class="card-tools">
                <div class="d-flex">
                  <label for="month" class="d-none"></label>
                  <input class="px-2 py-1 my-0 mx-2" type="number" [(ngModel)]="month" id="month" min="1" max="12">
                  <label for="year" class="d-none"></label>
                  <input class="px-2 py-1 my-0 mx-2" type="number" [(ngModel)]="year" id="year" min="2019" max="2029">
                  <button type="button" class="btn btn-outline-warning btn-block px-4 w-auto" (click)="onUpdateChart()">
                    <i class="fa-thin fa-search font-weight-light"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="card-body p-0">
              <div class="row">
                <div class="col">
                  <div class="w-75 mx-auto my-3">
                    <div class="chart p-3">
                      <canvas id="chart">{{chart}}</canvas>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
